* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(145, 145, 145);
}

#container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

#loginImage {
  position: relative;
  left: 50px;
  bottom: 15px;
  height: 100px;
  width: 100px;
}
#logintext {
  font-size: 1.3rem;
  color: rgb(24, 23, 23);
  font-family: "Poppins";
  font-weight: 700;
}

#email,
#password {
  border-radius: 4px;
  background-color: white;
  padding: 12px 20px;
  font-family: "Poppins";
  border: none;
}

#lBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  left: 25%;
  width: 100px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  background-color: #2e81e0;
  font-family: "Poppins";
  font-weight: 500;
}
